:root {
	--primary-color: #d81e5b;
}

html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 1000px;
	margin: auto;
	color: #fff;
	background-color: #181d23;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2em;
}

header form {
	display: flex;
}

header > div:first-of-type {
	flex: 1 1 60%;
}

header > div:last-of-type {
	flex: 1 1 20%;
	position: relative;
}

header h1 {
	font-family: 'Fraunces', serif;
	font-weight: 500;
	font-style: italic;
	font-size: 3rem;
	margin: 0;
	color: var(--primary-color);
	filter: drop-shadow(1px 5px 1px rgba(0, 0, 0, 0.384));
}

header figure {
	width: 20em;
	margin: auto;
}

header p {
	text-align: right;
	margin: 0;
}

figure img {
	width: 100%;
}

label {
	display: block;
	width: 100%;
	margin: 1em 0;
}

input {
	display: block;
	color: rgba(255, 255, 255, 0.726);
	border: none;
	font-weight: bold;
	padding: 0.8em;
	height: min-content;
	width: 100%;
	background: no-repeat url(./search.svg) 93% / 20px;
	transition: all 0.1s ease-in;
	border-radius: 10px;
	background: #181d23;
	box-shadow: inset 5px 5px 9px #0d1013, inset -5px -5px 9px #232a33;
}

input:focus {
	outline: transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.no-suggestions {
	color: #999;
	padding: 0.5rem;
}

.suggestions {
	position: absolute;
	left: 0;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 200px;
	overflow-y: auto;
	padding-left: 0;
	width: 300px;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: #181d23;
	box-shadow: inset 5px 5px 9px #0d1013, inset -5px -5px 9px #232a33;
}

.suggestions li {
	padding: 0.5rem;
	color: rgba(255, 255, 255, 0.726);
	border: none;
	font-weight: bold;
}

.suggestion-active,
.suggestions li:hover {
	background-color: #0d1013;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
}

.movie-details p {
	line-height: 1.5;
	text-align: justify;
}

.movie-details p::first-letter {
	font-size: 2rem;
	line-height: 0;
}

.movie-details h3 {
	color: var(--primary-color);
	font-size: 2.5rem;
	font-family: 'Fraunces', serif;
	font-style: italic;
}

.movie-details span {
	color: #fff;
	font-size: 2rem;
}

.movie-details > div:first-of-type,
.movie-details > div:first-of-type > div:first-of-type {
	display: flex;
	align-items: center;
}

.movie-details > div:first-of-type > div:first-of-type {
	flex-direction: column;
}

.movie-details > div:first-of-type {
	justify-content: space-between;
}

.movie-details > div:first-of-type h2 {
	font-size: 3.5rem;
	margin-right: 0.5em;
	font-weight: bold;
}

main > h4 {
	font-size: 4em;
	text-align: center;
	margin-top: 3em;
}

iframe {
	width: 100%;
	min-height: 400px;
	border-radius: 50px;
	background: linear-gradient(145deg, #1a1f25, #161a20);
	box-shadow: 20px 20px 40px #0b0d10, -20px -20px 40px #252d36;
}

a {
	color: #fff;
	border-bottom: 4px solid #232a33;
	text-decoration: none;
	transition: all 0.3s ease-in;
	position: relative;
	padding: 0 0.2em;
}

a:hover {
	color: #fff;
}

a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom center;
	background: var(--primary-color);
	z-index: -1;
	transition: transform 0.3s;
}

a:hover::after {
	transform: scaleY(1);
}
